@model IEnumerable<app.Models.Phrase>
@{
	var i = 1;
}

<div class="d-flex justify-content-between align-items-center">
	<h1>Lista fraz</h1>
	<p>
		<input type="button"
			   class="btn btn-primary  btn-lg"
			   value="  Dodaj nową frazę  "
			   onclick="location.href='@Url.Action("Create", "Phrases")'" />
	</p>
</div>
<hr />
<br />

<div class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-7">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>
							#
						</th>
						<th style="width: 45%;" class="text-center">
							Fraza
						</th>
						<th class="text-center action_row">
							Akcje
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@i
							</td>
							<td class="text-center">
								@Html.DisplayFor(modelItem => item.Name)
							</td>
							<td class="text-center">
								<input type="button"
								   class="btn btn-primary"
								   value="  Lista produktów  "
								   onclick="location.href='@Url.Action("Details", "Phrases", new { id=item.Id })'" />
								<input type="button"
								   class="btn btn-primary"
								   value="  Usuń frazę  "
								   onclick="location.href='@Url.Action("Delete", "Phrases", new { id=item.Id })'" />
							</td>
						</tr>
						i++;
					}
				</tbody>
			</table>

		</div>
		<div class="col"></div>
	</div>
</div>
